.Dossier{
    position: relative;
    width: 250px;
    min-height: 290px;
    color: white;
    display: flex;
    flex-direction: column;

    //Interesting to know
    perspective: 1000px;

    .carte{
        width: 100%;
        height: 100%;

        //Interesting to know
        transform-style: preserve-3d;
        
         transition: transform 0.3s;

         &.active{
            transform: rotateY(0.5turn);
         }


        .endroit{
            position: absolute;
            backface-visibility: hidden;
        .info{
        height: 100%;
        position: relative;

        .suppression{
            position: absolute;
            right: 0;
            bottom: 0;
            margin: 0.5rem;
            background-color: rgba(128, 128, 128, 0.561);
        }
        }
        .couverture{
            position: relative;

            .rotation{
                position: absolute;
                left: 0;
                top: 0;
                margin: 0.5rem;
                background-color: rgba(128, 128, 128, 0.561);
            }

            .edit{
                position: absolute;
                right: 0;
                top: 0;
                margin: 0.5rem;
                background-color: rgba(128, 128, 128, 0.561);
            }
            img{
                width: 100%;
            }
            
        }
        }

        .envers{
            width: 250px;
            min-height: 290px;
            background-color: rgb(89, 138, 138);
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;


            //Tourner la carte
            transform: rotateY(0.5turn);

            backface-visibility: hidden;

        }
    }


    
}
.Dossier:hover{
    box-shadow: 0 0 15px 3px black;
    transition: all 0.5s;
}
