.Dossier{
    position: relative;
    min-width: 250px;
    min-height: 290px;
    color: white;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    

    .info{
        height: 100%;
    }
}
.Dossier:hover{
    box-shadow: 0 0 15px 3px black;
    transform: scale(1.05);
    transition: all 0.5s;
}